@import '../../index.scss';

.calculatorForm {
    display: flex;
    min-width: 50%;
    min-height: 100%;
    margin-right: 15px;

    @include breakpoints(sm) {
        margin-right: 0px;
    }

    form {
        min-width: 100%;
    }
}


.form_input {
    position: relative;
    width: 100%;

    &_icon_bill {
        position: absolute;
        background-image: url('../../images/icon-dollar.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        top: 25%;
        padding: 8px 5px;
        margin-left: 15px;
    }

    &_icon_person {
        position: absolute;
        background: url('../../images/icon-person.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        top: 30%;
        padding: 7px 6px;
        margin-left: 15px;
    }
}

.bill_section,
.tip_section {
    margin-bottom: 25px;
}

.error-message-input {
    outline: 1.9px solid red;
}
.error-message-input:focus {
    outline: 1.9px solid red;
}

/* ERRORS */
.label_section {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .form_label {
        color: $darkGrayishCyan;
        margin-bottom: 8px;
        font-size: 13px;
    
        @include breakpoints (sm) {
            font-size: 15px;
        }
    }
    .error-message {
        font-size: 13px;
        color: red;
    }
    
}

.bill_section,
.people_section {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 100%;


    input {
        border: 3px solid $veryLightGrayishCyan;
        border-style: solid;
        border-width: 3px;
        background-color: $veryLightGrayishCyan;
        color: $grayishCyan;
        min-width: 100%;
        padding: 3px 15px;
        text-align: end;
        border-radius: 5px;
        font-size: 19px;
    }

    input:focus {
        outline: 2px solid $strongCyan;
        color: $veryDarkCyan;
    }

    // input[name='bill'] {
    //     background: url('../images/icon-dollar.svg') no-repeat scroll 7px 7px;
    // }
}


.tip_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    min-width: 100%;

    &_options {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &_label {
            width: 30%;
            padding: 4px 0px;
            color: $white;
            background-color: $veryDarkCyan;
            border-radius: 5px;
            margin: 5px 0px;
            font-size: 18.5px;
            letter-spacing: 1.5px;
            cursor: pointer;

            @include breakpoints (sm) {
                font-size: 24px;
            }

        }
        
        &_label:hover{
            background-color: hsl(172, 60%, 64%);
            color: $veryDarkCyan;
        }
        
        &_label_selected{
            width: 30%;
            padding: 4px 0px;  
            color: $veryDarkCyan;
            background-color: $strongCyan;
            border-radius: 5px;
            margin: 5px 0px;
            font-size: 18.5px;
            letter-spacing: 1.5px;
            cursor: pointer;

            @include breakpoints (sm) {
                font-size: 24px;
            } 
        }
        
        &_input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            

            &_custom {
                border: 1px solid transparent;
                background-color: $veryLightGrayishCyan;
                color: $grayishCyan;
                width: 30%;
                border-radius: 5px;
                margin: 5px 0px;
                text-align: end;
                font-size: 19px;
                padding: 0px 5px;
            }
            
            &_custom:focus {
                outline: 2px solid $strongCyan;
                color: $veryDarkCyan;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }
        }
    }
}