@import '../index.scss';

.calculator {
    background-color: $white;
    min-width: 50%;
    min-height: 50%;
    display: flex;
    border-radius: 15px;
    margin-top: 50px;
    display: flex;
    padding: 30px;
    
    @include breakpoints(sm) {
        flex-direction: column;
        padding: 20px;
    }
}